server:
  port: 8084

spring:
  application:
    name: workflow-service


  datasource:
    url: jdbc:postgresql://localhost:5432/workflow_service?options=-c%20timezone=Asia/Kolkata
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


  sql:
    init:
      mode: always
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000
