server:
  port: 8083

spring:
  application:
    name: storage-service

  datasource:
    url: jdbc:postgresql://localhost:5432/storage_service_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always

  cloud:
    aws:
      s3:
        endpoint: http://localhost:4566
        path-style-access-enabled: true
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
app:
  bucket:
    name: my-dev-bucket

logging:
  level:
    io.awspring.cloud.s3: DEBUG
