server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-server
          uri: http://localhost:9000
          predicates:
            - Path=/auth/**, /oauth2/**, /login/**
        
        - id: bff-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/**

        - id: storage-service
          uri: http://localhost:8083
          predicates:
            - Path=/storage/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9000/oauth2/jwks


