server:
  port: 8082
  servlet:
    session:
      cookie:
        name: BFFSESSIONID

spring:
  application:
    name: bff-service
  security:
    oauth2:
      client:
        registration:
          bff-client:
            provider: spring
            client-id: bff-client
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile, email, offline_access
            client-name: BFF Client
        provider:
          spring:
            issuer-uri: http://localhost:9000
