server:
  port: 8082

spring:
  application:
    name: bff-service

# Custom JWT Secret for Manual Decoding (since we are not using full OIDC discovery)
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
