server:
    port: 8085
spring:
    application:
        name: notification-service
    datasource:
        url: jdbc:postgresql://localhost:5432/notification_db
        username: admin
        password: password
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    sql:
        init:
            mode: always
    mail:
        host: smtp.gmail.com
        port: 587
        username: radhikaandrew12@gmail.com
        password: "azxp bovy wkom vmdb"
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true