server:
  port: 9000
  servlet:
    session:
      cookie:
        name: AUTHSESSIONID

spring:
  application:
    name: auth-server
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 1 day
  refresh-expiration: 604800000 # 7 days
