<nav class="fixed top-0 left-0 right-0 z-50 py-6">
    <div class="max-w-7xl mx-auto px-6">
        <div
            class="flex justify-between items-center glass border border-white/40 shadow-xl shadow-slate-200/50 px-6 py-3 rounded-2xl">
            <div [routerLink]="['/']" class="flex items-center cursor-pointer group">
                <div
                    class="w-8 h-8 bg-slate-900 rounded flex items-center justify-center text-white font-bold text-lg mr-2 transition-transform group-hover:scale-105 shadow-lg">
                    O
                </div>
                <span class="text-lg font-black tracking-tighter text-slate-900">
                    Open<span class="text-indigo-600">CLM</span>
                </span>
            </div>

            <div class="flex items-center space-x-6 lg:space-x-8">
                <button (click)="setView('login')"
                    class="text-[10px] font-black text-slate-500 hover:text-indigo-600 transition-colors uppercase tracking-[0.2em]">
                    Sign In
                </button>
                <button (click)="setView('signup')"
                    class="bg-indigo-600 hover:bg-indigo-700 text-white text-[10px] font-black px-5 py-2.5 rounded shadow-lg shadow-indigo-100 uppercase tracking-widest transform active:scale-95 transition-all">
                    Start Free
                </button>
            </div>
        </div>
    </div>
</nav>