version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: auth_db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566" # Main API Gateway
    environment:
      - SERVICES=s3
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - localstack-data:/var/lib/localstack # ✅ Docker Volume (Persistent)
      - ./init-scripts:/etc/localstack/init/ready.d # ✅ Startup scripts
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  postgres_data:

  localstack-data:
